.navbar {
  padding: 30px;
}
.navbar button {
  background-color: #f94858;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.dropdown {
  float: right;
}
.category {
  background-color: #f7f8fa;
  margin: 8px 0px;
  padding: 16px;
}
.category p {
  border-bottom: 1px solid #f3f3f3;
  padding: 10px 0px;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin: 8px 0px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #dae2e5;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #dae2e5;
  cursor: pointer;
}

.filter-price {
  padding-top: 30px;
}
.rang-button {
  background-color: #f94858;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.rang-amount {
  float: right;
  padding-top: 10px;
}

.top-product img {
  height: 60px;
  width: 100%;
  object-fit: contain;
}

.top-product i {
  color: gold;
}

.card-img-top {
  height: 150px;
  object-fit: cover;
}
.card {
  margin-bottom: 20px;
}
